.root {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 6px;
  height: 100%;
  background-color: var(--mantine-color-grey-9);
  color: white;

  .button {
    width: fit-content;
  }
}

.innerDiv {
  /* margin-left: 10px;
  margin-right: margin-left; */
}

.mdxeditor {
  height: 89vh;
  font-family: var(--mantine-font-family);
}
