.root {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 6px;
  /* height: 100%; */
  --sidebar-margin: 15px;
  --title-bar-height: 15px;
  --title-height: 70px;
  --title-padding: 30px;
  height: calc(
    100vh - 2 * var(--sidebar-margin) - var(--title-bar-height) - 2 * var(--title-height)
  );
  background-color: var(--mantine-color-defaultScheme-0);
  color: white;

  .button {
    width: fit-content;
  }
}

.innerDiv {
  height: 100vh;
}

.mdxeditor {
  --sidebar-margin: 15px;
  --title-bar-height: 32px;
  --title-height: 70px;
  --editor-padding: 12px;
  height: calc(
    100vh - 2 * var(--sidebar-margin) - var(--title-bar-height) - var(--title-height) -
      var(--editor-padding)
  );
  font-family: var(--mantine-font-family);
  padding: 0;
}

.title {
  font-family: 'Fredoka';
  color: var(--mantine-color-defaultScheme-9);
  font-size: 54px;
  font-weight: 500;
  line-height: 1.2;
}

.editor {
  color: var(--mantine-color-defaultScheme-6);
  background-color: var(--mantine-color-defaultScheme-0);
}

.editor :global([contenteditable='true']) {
  color: var(--mantine-color-defaultScheme-9) !important;
  background-color: var(--mantine-color-defaultScheme-0) !important;
  font-family: var(--mantine-font-family) !important;
  --baseBg: var(--mantine-color-defaultScheme-2);
}

.editor :global([contenteditable='true'] a) {
  color: var(--mantine-color-defaultScheme-5) !important;
  text-decoration: underline;
  cursor: pointer;
}

.editor :global([contenteditable='true'] a:hover) {
  color: var(--mantine-color-defaultScheme-6) !important;
  text-decoration: underline;
}

.editor :global([contenteditable='true'] h1) {
  color: var(--mantine-color-defaultScheme-9) !important;
}
