/* the page the content sites on */
.root {
  --titlebar-height: 30px;
  height: calc(100vh - var(--titlebar-height));
  display: flex;
  justify-content: center;
  align-items: center;
}

/* the 'card' the input fields sit on top of */
.base {
  --toolbar-height: 30px;
  background-color: var(--mantine-color-defaultScheme-1);
  border-radius: 8px;
  padding: 40px;
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: calc(10px + var(--toolbar-height));
}

.title {
  text-align: center;
  color: var(--mantine-color-defaultScheme-6);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.submit {
  color: var(--mantine-color-defaultScheme-5);
  background-color: var(--mantine-color-defaultScheme-0);
}

.submit:hover {
  color: var(--mantine-color-defaultScheme-6);
  background-color: var(--mantine-color-defaultScheme-5);
}

.signupText {
  color: var(--mantine-color-defaultScheme-5);
}

.signupText:hover {
  color: var(--mantine-color-defaultScheme-0);
}

.leftArrow:hover {
  color: var(--mantine-color-defaultScheme-0) !important;
}
