.root {
  margin-top: 15px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  height: calc(100vh - 15px);
  width: 100vh;
  background-color: var(--mantine-color-grey-9);
}

.network {
  /* margin-top: 4px;
  margin-left: 10px;
  margin-right: margin-left; */
  margin: 10px;
}
