.root {
  --titlebar-height: 30px;

  margin-top: 15px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  height: 100%;
  width: 100%;
  background-color: var(--mantine-color-defaultScheme-0);
}

.network {
  /* margin-top: 4px;
  margin-left: 10px;
  margin-right: margin-left; */
  /* margin: 10px; */
  height: 100%;
}
