:root {
  --margin-width: 10px;
  --sidebar-width: 200px;
  --border-width: 2px;
  --border-color: rgb(44, 44, 44);
  --toolbar-height: 60px;
  --sidebar-border-radius: 13px;
  --title-bar-height: 30px;
  --sidebar-margin: 15px;
  --padding-default: 20px;
}

.root {
  /* padding-top: 5px; */
  background-color: var(--mantine-color-defaultScheme-1);
  border-radius: var(--sidebar-border-radius);
  height: calc(100vh - 2 * var(--sidebar-margin) - var(--title-bar-height));
  width: calc(var(--sidebar-width) - 2);
  display: flex;
  flex-direction: column;
}

.title {
  padding-left: var(--padding-default);
  padding-top: var(--padding-default);
  min-width: 200px;
  flex-shrink: 0;
  color: var(--mantine-color-defaultScheme-6);
}

.divider {
  margin-left: var(--padding-default);
  margin-right: var(--padding-default);
}

.tree {
  background-color: transparent;
}

.filetree {
  position: relative;
  flex: 1;
  min-height: 0;
  padding-left: 10px;
  padding-top: 4px;
  overflow: hidden;
}

.scrollableArea {
  height: 100%;
  padding-right: 10px;
  scrollbar-width: none;
}

.toolbar {
  bottom: 15px;
  height: var(--toolbar-height);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: var(--mantine-color-defaultScheme-1);
  border-radius: var(--sidebar-border-radius);
}

.leaf {
  display: flex;
  align-items: center;
  gap: 6px;
  min-width: 0;
  width: 100%;
}

:global(.mantine-Tree-label[data-selected]) {
  background-color: var(--mantine-color-defaultScheme-1) !important;
  color: var(--mantine-color-defaultScheme-6) !important;
}

.leafText {
  color: var(--mantine-color-defaultScheme-4);
  size: 'lg';
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  min-width: 0; /* Add this to allow text to shrink */
}

.leafText:hover {
  color: var(--mantine-color-defaultScheme-6);
}

.label {
  /* padding-block: 1px; */
  margin-left: var(--margin-width);
  margin-right: var(--margin-width);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &[data-selected] {
    color: var(--mantine-color-defaultScheme-6);
  }
}
