:root {
  --margin-width: 10px;
  --sidebar-width: 200px;
  --border-width: 2px;
  --border-color: rgb(44, 44, 44);
}

.root {
  padding-top: 5px;
  background-color: rgb(40, 40, 40);
  border-radius: 6px;
  height: 100%;
  /* width: calc(200 - (2 * padding)); */
  width: calc(var(--sidebar-width) - 2);
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--border-color);
}

.stuff {
  padding: 10px;
  min-width: 200px;
}

.label {
  /* padding-block: 1px; */
  margin-left: var(--margin-width);
  margin-right: var(--margin-width);

  &[data-hovered] {
    @mixin where-light {
      background-color: var(--mantine-color-gray-0);
    }

    @mixin where-dark {
      background-color: var(--mantine-color-dark-6);
      color: var(--mantine-color-white);
    }
  }

  &[data-selected] {
    font-weight: 700;

    @mixin light {
      background-color: var(--mantine-color-gray-0);
      color: var(--mantine-color-black);
    }

    @mixin dark {
      background-color: alpha(var(--mantine-color-gray-0), 0.35);
      color: var(--mantine-color-gray-0);
    }
  }
}
