:root {
  --sidebar-padding: 15px;
}

.root {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: var(--mantine-color-grey-9);

  .sidebar {
    margin-top: var(--sidebar-padding);
    margin-left: var(--sidebar-padding);
    margin-bottom: var(--sidebar-padding);
    position: relative;
    flex-shrink: 0;
  }

  .resizer {
    position: absolute;
    right: -5px;
    top: 0;
    bottom: 0;
    width: 10px;
    cursor: col-resize;
    z-index: 10;
  }
}
