:root {
  --sidebar-padding: 15px;
}

.root {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: var(--mantine-color-defaultScheme-0);

  .sidebar {
    margin-top: var(--sidebar-padding);
    margin-left: var(--sidebar-padding);
    margin-bottom: var(--sidebar-padding);
    position: relative;
    flex-shrink: 0;
    padding-right: 10px;
  }

  .resizer {
    --inlay: 13px;
    position: absolute;
    right: 0;
    top: var(--inlay);
    bottom: 0;
    width: 6px;
    cursor: col-resize;
    height: calc(100% - var(--sidebar-padding) - var(--inlay));
    border-radius: 5px;
    z-index: 10;
    transition: background-color 0.2s ease;
  }

  .resizer:hover {
    background-color: var(--mantine-color-defaultScheme-2);
    opacity: 0.5;
  }
}
